.content {
  display: flex;
  gap: 3rem;
}
.cell {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
}

.gameboard-container {
  display: flex;
  flex-direction: column;
}

.header-cell {
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-row {
  display: flex;
  padding-left: 1.5rem;
}

.hr-cell {
  width: 2.1rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.row {
  display: flex;
}

.hit {
  background-color: green;
}

.miss {
  background-color: red;
}
